<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    No scope of work defined.
  </div>

  <ng-template #list>
    <div class="scope-container" *ngFor="let scope of scopes">
      <div class="header">
        <div class="name">
          <mat-icon>folder</mat-icon>
          {{ scope.name | uppercase }}
        </div>
        <div class="spacer"></div>
        <div class="actions"></div>
      </div>

      <div class="content" *ngIf="scope.tasks.length">
        <div class="guide">
          <div class="name"></div>
          <div class="qty">Quantity</div>
          <div class="price">{{ hasMaterials(scope) ? "Price/Unit" : "" }}</div>

          <div class="subtotal">
            {{ hasMaterials(scope) ? "Total Price" : "" }}
          </div>
        </div>

        <div
          class="task-container"
          [ngClass]="{ 'with-material': task.materials.length }"
          *ngFor="let task of scope.tasks"
        >
          <div class="header">
            <div class="name">
              <mat-icon>trending_flat</mat-icon> {{ task.name }}
            </div>
            <div class="qty">
              {{ task.qty | number: "1.1-1" }} {{ task.unit }}
            </div>

            <div class="price"></div>
            <div class="price"></div>

            <div class="price" *ngIf="task.subconPricePerUnit">
              {{ task.subconPricePerUnit | currency: "PHP":"symbol" }} /
              {{ task.unit }}
            </div>

            <div class="actions"></div>
            <div class="spacer"></div>
          </div>

          <div
            class="material"
            *ngFor="let material of task.materials; let i = index"
          >
            <div class="name">
              <div class="line-no">#{{ i + 1 }}</div>
              {{ material.name }}
            </div>
            <div class="qty">
              {{ material.qty | number: "1.1-1" }} {{ material.unit }}
            </div>
            <div class="price" *ngIf="material.pricePerUnit">
              {{ material.pricePerUnit | currency: "PHP":"symbol" }} /
              {{ material.unit }}
            </div>

            <div class="subtotal" *ngIf="material.pricePerUnit">
              {{
                material.pricePerUnit * material.qty | currency: "PHP":"symbol"
              }}
            </div>

            <div class="actions"></div>
          </div>
        </div>

        <div class="summary-info">
          <div class="total-label">TOTAL</div>
          <div class="total">
            {{ getSubTotal(scope) | currency: "PHP":"symbol" }}
          </div>
        </div>

        <div class="summary-info end">
          <div class="total-label">SUBCON TOTAL</div>
          <div class="total">
            {{ getSubcon(scope) | currency: "PHP":"symbol" }}
          </div>
        </div>
      </div>
    </div>

    <div class="summary-info grand">
      <div class="total-label">PROJECT TOTAL COST</div>
      <div class="total">
        {{ grandTotal | currency: "PHP":"symbol" }}
      </div>
    </div>
  </ng-template>
</app-card>
