form {
  display: flex;
  flex-direction: column;

  .error {
    color: var(--red-color);
    margin-bottom: var(--spacing);
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .mat-icon {
    cursor: pointer;
  }
}
