<div class="header">
  <h1>Change Your Password</h1>

  <mat-icon (click)="dismiss()">close</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Old Password</mat-label>
    <input matInput type="password" formControlName="oldPassword" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput type="password" formControlName="newPassword" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" formControlName="confirmPassword" />
  </mat-form-field>
  <div class="error" *ngIf="getErrorMessage()">
    {{ getErrorMessage() }}
  </div>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="!form.valid"
  >
    Change Password
  </button>
</form>
