<div
  class="drop-area"
  appUploadFileDropbox
  (drop)="onFileUpload($event)"
  (click)="fileUpload.click()"
>
  <mat-icon>save_alt</mat-icon>
  Drag File to Upload
</div>

<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  multiple
  #fileUpload
/>

<div class="upload-info-box">
  <ul class="file-list">
    <li *ngFor="let upload of uploads; let i = index">
      <div class="label">
        <mat-icon>{{
          isImageFile(upload.file) ? "image" : "insert_drive_file"
        }}</mat-icon>
        <span>{{ upload.file.name }}</span>

        <span class="spacer"></span>
        <mat-icon class="remove-button" (click)="remove(i)">close</mat-icon>
      </div>

      <mat-progress-bar
        color="primary"
        mode="determinate"
        [value]="upload.progress"
      >
      </mat-progress-bar>
      {{ upload.progress === 100 ? "Completed" : upload.progress + "%" }}
    </li>
  </ul>
</div>
