.status-box {
  text-transform: uppercase;
  background-color: lightgrey;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
