<div *ngIf="project">
  <app-status-bar
    *ngIf="project.status !== 'CANCELLED'; else cancelledStatusBar"
    [items]="statusBarItems"
    [completed]="completedStatus"
    [sub]="substatus"
  >
  </app-status-bar>

  <ng-template #cancelledStatusBar>
    <app-status-bar [items]="statusBarItemsCancelled" [completed]="3">
    </app-status-bar>
  </ng-template>

  <app-card>
    <app-project-overview-viewer
      [project]="project"
    ></app-project-overview-viewer>
  </app-card>

  <app-card>
    <h1>Attachments</h1>

    <div class="attachment-list" *ngIf="project">
      <app-attachment-card
        *ngFor="let attachment of project.attachments"
        [name]="attachment.name"
        [type]="getAttachmentType(attachment.type)"
        (click)="downloadAttachment(attachment)"
      >
      </app-attachment-card>
    </div>
  </app-card>

  <app-card>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Project Schedule">
        <app-gantt-chart
          *ngIf="scopes && schedules"
          [scopes]="scopes"
          [schedules]="schedules"
          (select)="onScheduleSelect($event)"
        ></app-gantt-chart>
      </mat-tab>

      <mat-tab label="Tasks">
        <div class="content">
          <app-view-project-task
            [tasks]="project.tasks"
          ></app-view-project-task>
        </div>
      </mat-tab>
      <mat-tab label="Purchase Orders" disabled>
        <div class="content">Purchase Orders</div>
      </mat-tab>
      <mat-tab label="Document Logs" disabled>
        <div class="content">Purchase Orders</div>
      </mat-tab>
    </mat-tab-group>
  </app-card>
</div>
