<app-status-bar [items]="statusBarItems" [completed]="1"></app-status-bar>

<app-card>
  <h1>Project Details</h1>

  <app-project-overview-viewer></app-project-overview-viewer>
</app-card>

<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <app-attachment-card name="Design Doc 1" type="pdf"> </app-attachment-card>
    <app-attachment-card name="Sketch" type="image"> </app-attachment-card>
  </div>
</app-card>

<app-card>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Project Schedule">
      <app-view-project-schedule></app-view-project-schedule>
    </mat-tab>
    <mat-tab label="Budget Tracking">
      <div class="content">Budget Tracking</div>
    </mat-tab>
    <mat-tab label="Purchase Orders">
      <div class="content">Purchase Orders</div>
    </mat-tab>
    <mat-tab label="Billing Progress">
      <div class="content">Purchase Orders</div>
    </mat-tab>
    <mat-tab label="Document Logs">
      <div class="content">Purchase Orders</div>
    </mat-tab>
  </mat-tab-group>
</app-card>
