<amplify-authenticator>
  <ng-template amplifySlot="sign-in-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Sign in to your account
    </h3>
  </ng-template>

  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-main-layout>
      <h2>Welcome!</h2>
      <button (click)="signOut()">Sign Out</button>

      <router-outlet></router-outlet>
    </app-main-layout>
  </ng-template>
</amplify-authenticator>
