.no-group-message {
  display: flex;
  height: calc(100% - 100px);
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    margin: var(--spacing);
  }
}
