<amplify-authenticator>
  <ng-template amplifySlot="sign-in-header">
    <h3
      class="amplify-heading"
      style="padding: var(--amplify-space-xl) 0 0 var(--amplify-space-xl)"
    >
      Sign in to your account
    </h3>
  </ng-template>

  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <app-main-layout>
      <app-user-menu
        [user]="user"
        (profile)="viewProfile()"
        (changePassword)="changePassword()"
        (signout)="signOut()"
      >
      </app-user-menu>
      <router-outlet *ngIf="hasGroup(user); else noGroup"></router-outlet>

      <ng-template #noGroup>
        <div class="no-group-message">
          <img src="../assets/images/no-access.png" />
          It appears you are not assigned to a group. Please contact your
          administrator.
        </div>
      </ng-template>
    </app-main-layout>
  </ng-template>
</amplify-authenticator>
