<app-card>
  <div class="header">
    <h1>Estimate cost Summary</h1>
  </div>

  <app-project-cost-summary-viewer
    [scopes]="scopes"
  ></app-project-cost-summary-viewer>

  <app-action-panel *ngIf="task.status != 'COMPLETED'; else result">
    <a class="reject-button" (click)="reject()" [ngClass]="{ processing }"
      >Reject</a
    >
    <a class="approve-button" (click)="approve()" [ngClass]="{ processing }"
      >Approve</a
    >
  </app-action-panel>

  <ng-template #result>
    <h2
      *ngIf="project"
      class="result-message"
      [ngClass]="{ approve: project.accountingApprover }"
    >
      {{ resultMessage }}
    </h2>
  </ng-template>
</app-card>

<app-card>
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Overview">
      <br />
      <app-project-overview-viewer
        [project]="task.project"
      ></app-project-overview-viewer>
    </mat-tab>
    <mat-tab label="Design Documents">
      <div class="attachment-list" *ngIf="project">
        <app-attachment-card
          *ngFor="let attachment of project.attachments"
          [name]="attachment.name"
          [type]="getAttachmentType(attachment.type)"
          (click)="downloadAttachment(attachment)"
        >
        </app-attachment-card>
      </div>
    </mat-tab>
    <mat-tab label="Scope of Work">
      <app-project-schedule-viewer
        [scopes]="scopes"
      ></app-project-schedule-viewer>
    </mat-tab>
    <mat-tab label="Project Schedule">
      <app-gantt-chart
        *ngIf="scopes && schedules"
        [scopes]="scopes"
        [schedules]="schedules"
        (select)="onScheduleSelect($event)"
      ></app-gantt-chart>
    </mat-tab>
  </mat-tab-group>
</app-card>
