.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing);
}

app-card {
  margin: 16px 0 0;

  .attachment-list {
    display: flex;

    > * {
      margin: var(--spacing);
    }
  }
}

app-action-panel {
  a {
    display: block;
    padding: calc(var(--spacing) / 2) var(--spacing);
    border-radius: 5px;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    margin-left: var(--spacing);

    &.approve-button {
      background-color: var(--green-color);
    }

    &.reject-button {
      background-color: var(--red-color);
    }

    &:hover:not(.processing) {
      opacity: 1;
    }

    &.processing {
      opacity: 0.5;
      background-color: grey;
    }
  }
}

.result-message {
  text-align: right;
  margin: 16px 0;
  color: var(--red-color);

  &.approve {
    color: var(--green-color);
  }
}
