<app-card>
  <div class="header">
    <h2>Estimate cost Summary</h2>
  </div>

  <app-project-cost-summary-viewer
    [scopes]="scopes"
    [contractorPrice]="project.profit"
  ></app-project-cost-summary-viewer>

  <app-action-panel *ngIf="task.status != 'COMPLETED'; else result">
    <a class="reject-button" (click)="reject()" [ngClass]="{ processing }"
      >Reject</a
    >
    <a class="approve-button" (click)="approve()" [ngClass]="{ processing }"
      >Approve</a
    >
  </app-action-panel>

  <ng-template #result>
    <h2
      *ngIf="project"
      class="result-message"
      [ngClass]="{ approve: project.clientApprover }"
    >
      {{ resultMessage }}
    </h2>
  </ng-template>
</app-card>

<app-card>
  <h2>Attach here Project Contract signed by the client</h2>

  <app-form-row>
    <app-upload-file-dropbox
      [uploads]="uploads"
      (uploadsChange)="onUploadChanges($event)"
      (delete)="onUploadDelete($event)"
    ></app-upload-file-dropbox>
  </app-form-row>
</app-card>
