app-card {
  margin: 16px 0 0;

  .attachment-list {
    display: flex;

    > * {
      margin: var(--spacing);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
}

mat-icon {
  margin-right: var(--spacing);
}

app-action-panel {
  button {
    margin-left: calc(var(--spacing) / 2);
  }
}

::ng-deep {
  .scope-container {
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 10px;

    > .header {
      height: 50px !important;
      padding: calc(var(--spacing) / 2);
      background-color: rgb(250, 250, 250);
      margin: 0;

      .name {
        display: flex;
        align-items: center;
      }
    }

    .content {
      padding: var(--spacing);
    }
  }

  .guide {
    display: flex;
    padding: 10px 0 5px;
    text-transform: uppercase;
    font-size: 10px;

    > * {
      font-weight: bold;
    }
  }

  .task-container {
    margin-bottom: 10px;
    &.with-material {
      margin-bottom: 64px;
    }

    .header {
      background-color: rgb(233, 233, 233);
      padding: 6px;
      border-radius: 5px;
    }

    .material {
      display: flex;
      align-items: center;

      .line-no {
        padding: 5px 16px !important;
        text-align: center;
        color: rgb(118, 118, 118);
      }
    }
  }

  .name {
    min-width: 150px;
    max-width: 750px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;

    mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
    }
  }

  .qty,
  .unit,
  .price,
  .total,
  .subtotal,
  .total-label {
    min-width: 50px;
    width: 100%;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
  }

  .total-label {
    min-width: 200px;
    width: 100%;
    max-width: 1050px;
  }

  .total,
  .total-label,
  .subtotal {
    font-weight: bold;
  }

  .total,
  .grand {
    text-decoration: underline;
  }

  .total,
  .total-label {
    margin: 10px 0;
    padding: 10px 0;
  }

  .end {
    .total,
    .total-label {
      border-bottom: 1px solid black;
    }
  }

  .summary-info {
    display: flex;

    &.grand {
      margin-left: 24px;
      font-weight: bolder;
      font-size: 16px;
      color: var(--blue-color);
      text-decoration: none;

      .total,
      .total-label {
        border-top: none !important;
      }
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .actions {
    text-align: right;
    white-space: nowrap;
    margin-left: 10px;
    margin-top: -10px;
  }
}
