<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <div *ngIf="project">
      <app-attachment-card
        *ngFor="let attachment of project.attachments"
        [name]="attachment.name"
        [type]="getAttachmentType(attachment.type)"
        (click)="downloadAttachment(attachment)"
      >
      </app-attachment-card>
    </div>
  </div>
</app-card>

<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    No scope of work defined.
  </div>

  <ng-template #list>
    <div class="scope-container" *ngFor="let scope of scopes">
      <div class="header">
        <div class="name">
          <mat-icon>folder</mat-icon>
          {{ scope.name | uppercase }}
        </div>
        <div class="spacer"></div>
        <div class="actions"></div>
      </div>

      <div class="content" *ngIf="scope.tasks.length">
        <div class="guide">
          <div class="name"></div>
          <div class="qty">Quantity</div>
          <div class="price">{{ hasMaterials(scope) ? "Price/Unit" : "" }}</div>

          <div class="subtotal">
            {{ hasMaterials(scope) ? "Total Price" : "" }}
          </div>

          <div class="subtotal">Labor/Unit</div>

          <div class="subtotal">Total Labor</div>
          <div class="subtotal">Subtotal</div>
        </div>

        <div
          class="task-container"
          [ngClass]="{ 'with-material': task.materials.length }"
          *ngFor="let task of scope.tasks"
        >
          <div class="header">
            <div class="name">
              <mat-icon>trending_flat</mat-icon> {{ task.name }}
            </div>
            <div class="qty">
              {{ task.qty | number: "1.1-1" }} {{ task.unit }}
            </div>

            <div class="price"></div>
            <div class="price"></div>

            <div class="price" *ngIf="task.subconPricePerUnit">
              {{ task.subconPricePerUnit | currency: "PHP":"symbol" }} /
              {{ task.unit }}
            </div>

            <div class="subtotal" *ngIf="task.subconPricePerUnit">
              {{
                task.subconPricePerUnit * task.qty | currency: "PHP":"symbol"
              }}
            </div>

            <div class="subtotal" *ngIf="task.subconPricePerUnit">
              {{
                task.subconPricePerUnit * task.qty | currency: "PHP":"symbol"
              }}
            </div>

            <div class="actions">
              <button
                *ngIf="task.materials.length === 0"
                mat-button
                color="primary"
                (click)="showAddTaskSubconBudgetForm(task)"
              >
                {{ task.subconPricePerUnit ? "EDIT" : "ADD SUBCON PRICE" }}
              </button>
            </div>
            <div class="spacer"></div>
          </div>

          <div
            class="material"
            *ngFor="let material of task.materials; let i = index"
          >
            <div class="name">
              <div class="line-no">#{{ i + 1 }}</div>
              {{ material.name }}
            </div>
            <div class="qty">
              {{ material.qty | number: "1.1-1" }} {{ material.unit }}
            </div>
            <div class="price" *ngIf="material.pricePerUnit">
              {{ material.pricePerUnit | currency: "PHP":"symbol" }} /
              {{ material.unit }}
            </div>

            <div class="subtotal" *ngIf="material.pricePerUnit">
              {{
                material.pricePerUnit * material.qty | currency: "PHP":"symbol"
              }}
            </div>

            <div class="price" *ngIf="material.subconPricePerUnit">
              {{ material.subconPricePerUnit | currency: "PHP":"symbol" }} /
              {{ material.unit }}
            </div>

            <div class="subtotal" *ngIf="material.subconPricePerUnit">
              {{
                material.subconPricePerUnit * material.qty
                  | currency: "PHP":"symbol"
              }}
            </div>

            <div class="subtotal grand" *ngIf="material.subconPricePerUnit">
              {{
                (material.pricePerUnit + material.subconPricePerUnit) *
                  material.qty | currency: "PHP":"symbol"
              }}
            </div>

            <div class="actions">
              <button
                mat-button
                color="primary"
                (click)="showAddMaterialSubconBudgetForm(material)"
              >
                {{ material.subconPricePerUnit ? "EDIT" : "ADD SUBCON PRICE" }}
              </button>
            </div>
          </div>
        </div>

        <div class="summary-info">
          <div class="total-label">TOTAL</div>
          <div class="total">
            {{ getSubTotal(scope) | currency: "PHP":"symbol" }}
          </div>
        </div>
      </div>
    </div>

    <div class="summary-info grand">
      <div class="total-label">PROJECT TOTAL COST</div>
      <div class="total">
        {{ grandTotal | currency: "PHP":"symbol" }}
      </div>
    </div>
  </ng-template>
</app-card>

<app-card class="timeline-card">
  <div class="header">
    <h1>Timeline</h1>
  </div>

  <div class="timeline">
    <app-gantt-chart
      *ngIf="scopes && schedules"
      [scopes]="scopes"
      [schedules]="schedules"
      (select)="onScheduleSelect($event)"
    ></app-gantt-chart>
  </div>
</app-card>

<app-action-panel>
  <button mat-raised-button (click)="exit()" [disabled]="saving">Exit</button>
  <button mat-raised-button (click)="update()" [disabled]="saving">Save</button>
  <button
    mat-raised-button
    *ngIf="task.status != 'COMPLETED'"
    color="primary"
    [disabled]="saving"
    (click)="complete()"
  >
    Mark as Complete
  </button>
</app-action-panel>
