app-card {
  margin: 16px 0 0;

  .attachment-list {
    display: flex;

    > * {
      margin: var(--spacing);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--spacing);
}

mat-icon {
  margin-right: var(--spacing);
}

table.task-list {
  width: 100%;
  margin-bottom: var(--spacing);
  border-collapse: separate;
  border-spacing: 0 15px;

  tr {
    td {
      padding: var(--spacing);
      background-color: rgba(lightgrey, 0.3);
    }

    td:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    td:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  mat-icon {
    cursor: pointer;
    margin-left: var(--spacing);
  }

  .add-material-button {
    cursor: pointer;
    display: block;
    font-size: 12px;
  }
}

app-action-panel {
  button {
    margin-left: calc(var(--spacing) / 2);
  }
}

.material-list-container {
  background-color: transparent !important;
  padding: 0 !important;
}
