<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <app-attachment-card name="Design Doc 1" type="pdf"> </app-attachment-card>
    <app-attachment-card name="Sketch" type="image"> </app-attachment-card>
  </div>
</app-card>

<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
    <button mat-flat-button color="primary" (click)="showAddScopeForm()">
      Add Scope
    </button>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    You have not yet added scope of work.
  </div>

  <ng-template #list>
    <mat-accordion multi>
      <mat-expansion-panel
        class="mat-elevation-z0"
        *ngFor="let scope of scopes"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>folder</mat-icon>
            {{ scope.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table class="task-list">
          <tbody *ngFor="let task of scope.tasks; let i = index">
            <tr>
              <td width="300px">
                {{ task.name }}
              </td>
              <td align="right" width="100px">{{ task.quantity }}</td>
              <td align="right" width="100px">{{ task.unit }}</td>
              <td align="right">
                <mat-icon (click)="editTask(task)">edit</mat-icon>
                <mat-icon (click)="deleteTask(scope, i)"
                  >delete_forever</mat-icon
                >
              </td>
            </tr>
            <tr>
              <td width="100%" colspan="4" class="material-list-container">
                <button
                  mat-button
                  color="primary"
                  (click)="showAddMaterialsForm(task)"
                >
                  Add Material
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button
          mat-button
          color="primary"
          (click)="showAddScopeWorkForm(scope)"
        >
          Add new task
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</app-card>

<app-action-panel>
  <button mat-raised-button>Save Progress</button>
  <button mat-raised-button color="primary">Mark as Complete</button>
</app-action-panel>
