<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <div *ngIf="project">
      <app-attachment-card
        *ngFor="let attachment of project.attachments"
        [name]="attachment.name"
        [type]="getAttachmentType(attachment.type)"
        (click)="downloadAttachment(attachment)"
      >
      </app-attachment-card>
    </div>
  </div>
</app-card>

<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
    <button mat-flat-button color="primary" (click)="showAddScopeForm()">
      Add Scope
    </button>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    You have not yet added scope of work.
  </div>

  <ng-template #list>
    <div class="scope-container" *ngFor="let scope of getScopes()">
      <div class="header">
        <div class="name">
          <mat-icon>folder</mat-icon>
          {{ scope.name | uppercase }}
        </div>
        <div class="spacer"></div>
        <div class="actions">
          <button
            mat-button
            color="primary"
            (click)="showAddScopeWorkForm(scope)"
          >
            ADD TASK
          </button>

          <button mat-button (click)="deleteScope(scope)">REMOVE</button>
        </div>
      </div>

      <div class="content" *ngIf="getTasks(scope).length">
        <div class="task-container" *ngFor="let task of getTasks(scope)">
          <div class="header">
            <div class="name">
              <mat-icon>trending_flat</mat-icon> {{ task.name }}
            </div>
            <div class="qty">
              {{ task.qty | number: "1.1-1" }} {{ task.unit }}
            </div>
            <div class="spacer"></div>
            <div class="actions">
              <button
                mat-button
                color="primary"
                (click)="showAddMaterialsForm(task)"
              >
                ADD MATERIAL
              </button>
              <button mat-button (click)="editTask(task)">EDIT</button>

              <button mat-button (click)="deleteTask(task)">REMOVE</button>
            </div>
          </div>

          <div
            class="material"
            *ngFor="let material of getMaterials(task); let i = index"
          >
            <div class="name">
              <div class="line-no">#{{ i + 1 }}</div>
              {{ material.name }}
            </div>
            <div class="qty">
              {{ material.qty | number: "1.1-1" }} {{ material.unit }}
            </div>
            <div class="actions">
              <button mat-button (click)="deleteMaterial(material)">
                REMOVE
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-card>

<app-action-panel>
  <button mat-raised-button (click)="exit()" [disabled]="saving">Exit</button>
  <button mat-raised-button (click)="update()" [disabled]="saving">Save</button>
  <button
    mat-raised-button
    *ngIf="task.status != 'COMPLETED'"
    color="primary"
    [disabled]="saving"
    (click)="complete()"
  >
    Mark as Complete
  </button>
</app-action-panel>
