app-card {
  margin: 16px 0 0;

  .attachment-list {
    display: flex;

    > * {
      margin: var(--spacing);
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing);
}

mat-icon {
  margin-right: var(--spacing);
}

app-action-panel {
  button {
    margin-left: calc(var(--spacing) / 2);
  }
}

::ng-deep {
  .scope-container {
    border: 1px solid rgb(231, 231, 231);
    margin-bottom: 10px;

    > .header {
      height: 50px !important;
      padding: calc(var(--spacing) / 2);
      background-color: rgb(250, 250, 250);
      margin: 0;

      .name {
        display: flex;
        align-items: center;
      }
    }

    .content {
      padding: var(--spacing);
    }
  }

  .task-container {
    margin-bottom: 10px;
    .header {
      background-color: rgb(233, 233, 233);
      padding: 6px;
      border-radius: 5px;
    }

    .material {
      display: flex;
      align-items: center;

      .line-no {
        padding: 5px 16px !important;
        text-align: center;
        color: rgb(118, 118, 118);
      }
    }

    .name {
      min-width: 150px;
      width: 100%;
      max-width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
      align-items: center;
      display: flex;

      mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
      }
    }

    .qty,
    .unit {
      min-width: 50px;
      width: 100%;
      max-width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: right;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .actions {
    text-align: right;
    white-space: nowrap;
    margin-left: 10px;
  }
}
