<app-card>
  <h1>Architectural Design Drawing</h1>
  <app-form-row
    description="Select status if ‘For Architectural Drawing’, ‘Waiting for Client’s approval’ or ‘Completed’"
  >
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="statusControl">
        <mat-option *ngFor="let status of statusOptions" [value]="status">{{
          status.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </app-form-row>

  <h2>Attached Design Documents</h2>
  <app-form-row>
    <app-upload-file-dropbox
      [uploads]="uploads"
      (uploadsChange)="onUploadChanges($event)"
      (delete)="onUploadDelete($event)"
    ></app-upload-file-dropbox>
  </app-form-row>
</app-card>

<app-action-panel>
  <button mat-raised-button>Exit</button>
  <button
    *ngIf="task.status != 'COMPLETED'"
    mat-raised-button
    color="primary"
    (click)="complete()"
  >
    Mark as Complete
  </button>
</app-action-panel>
