.row {
  display: flex;

  .column {
    width: 100px;
    display: flex;
    align-items: center;
    min-height: 50px;

    &:first-child {
      width: 200px;
    }
  }
}

button {
  margin-left: calc(var(--spacing) / 2);
}

.po-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
