<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <app-attachment-card name="Design Doc 1" type="pdf"> </app-attachment-card>
    <app-attachment-card name="Sketch" type="image"> </app-attachment-card>
  </div>
</app-card>

<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    You have not yet added scope of work.
  </div>

  <ng-template #list>
    <mat-accordion multi>
      <mat-expansion-panel
        class="mat-elevation-z0"
        *ngFor="let scope of scopes"
        expanded
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>folder</mat-icon>
            {{ scope.name | uppercase }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <table class="task-list">
          <tbody *ngFor="let task of scope.tasks; let i = index">
            <tr>
              <td width="300px">
                {{ task.name }}
              </td>
              <td align="right" class="fixed">{{ task.quantity }}</td>
              <td align="right" class="fixed">{{ task.unit }}</td>
              <td align="right"></td>
            </tr>
            <tr>
              <td colspan="4" class="material-list-container">
                <table class="material-list">
                  <tr *ngFor="let material of task.materials">
                    <td>
                      {{ material.name }}
                    </td>
                    <td align="right" class="fixed">
                      {{ material.quantity }}
                    </td>
                    <td align="right" class="fixed">{{ material.unit }}</td>
                    <td align="right" class="fixed">
                      <span
                        *ngIf="material.pricePerUnit; else noPrice"
                        (click)="addPrice(material)"
                      >
                        {{ material.pricePerUnit | currency: "PHP":"symbol" }} /
                        {{ material.unit }}
                      </span>
                      <ng-template #noPrice>
                        <button
                          mat-button
                          color="primary"
                          (click)="addPrice(material)"
                        >
                          Add Price
                        </button>
                      </ng-template>
                    </td>
                    <td align="right" class="fixed">
                      <b
                        *ngIf="material.pricePerUnit"
                        (click)="addPrice(material)"
                      >
                        {{
                          material.pricePerUnit * material.quantity
                            | currency: "PHP":"symbol"
                        }}
                      </b>
                    </td>
                  </tr>
                  <tr *ngIf="getTotalMaterialCost(task)">
                    <td></td>
                    <td class="fixed"></td>
                    <td class="fixed"></td>
                    <td class="fixed" align="right"><b>MATERIRAL COST</b></td>
                    <td class="fixed" align="right">
                      <b style="text-decoration: underline">{{
                        getTotalMaterialCost(task) | currency: "PHP":"symbol"
                      }}</b>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</app-card>

<app-action-panel>
  <button mat-raised-button>Save Progress</button>
  <button
    mat-raised-button
    color="primary"
    (click)="router.navigate(['/tasks'])"
  >
    Mark as Complete
  </button>
</app-action-panel>
