<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
  </div>

  <div *ngIf="!scopes.length; else list" class="no-scope-message">
    You have not yet added scope of work.
  </div>

  <ng-template #list>
    <div *ngFor="let scope of scopes">
      <div class="scope-container" *ngIf="hasMaterials(scope)">
        <div class="header">
          <div class="name">
            <mat-icon>folder</mat-icon>
            {{ scope.name | uppercase }}
          </div>
          <div class="spacer"></div>
        </div>

        <div class="content" *ngIf="scope.tasks.length">
          <div *ngFor="let task of scope.tasks">
            <div class="task-container" *ngIf="task.materials.length">
              <div class="header">
                <div class="name">
                  <mat-icon>trending_flat</mat-icon> {{ task.name }}
                </div>
              </div>

              <div
                class="material"
                *ngFor="let material of task.materials; let i = index"
              >
                <div class="name">
                  <div class="line-no">#{{ i + 1 }}</div>
                  {{ material.name }}
                </div>
                <div class="qty">{{ material.qty }} {{ material.unit }}</div>
                <div class="price" *ngIf="material.pricePerUnit">
                  {{ material.pricePerUnit | currency: "PHP":"symbol" }} /
                  {{ material.unit }}
                </div>

                <div class="subtotal" *ngIf="material.pricePerUnit">
                  {{
                    material.pricePerUnit * material.qty
                      | currency: "PHP":"symbol"
                  }}
                </div>

                <div class="actions">
                  <button
                    mat-button
                    color="primary"
                    (click)="addPrice(material)"
                  >
                    {{ material.pricePerUnit ? "EDIT" : "ADD PRICE" }}
                  </button>
                </div>
              </div>

              <div class="material">
                <div class="total-label">MATERIAL TOTAL</div>
                <div class="total">
                  {{ getTotalMaterialCost(task) | currency: "PHP":"symbol" }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</app-card>

<app-action-panel>
  <button mat-raised-button (click)="exit()" [disabled]="saving">Exit</button>
  <button mat-raised-button (click)="update()" [disabled]="saving">Save</button>
  <button
    mat-raised-button
    *ngIf="task.status != 'COMPLETED'"
    color="primary"
    [disabled]="saving"
    (click)="complete()"
  >
    Mark as Complete
  </button>
</app-action-panel>
