<app-card>
  <h1>Attachments</h1>

  <div class="attachment-list">
    <app-attachment-card name="Design Doc 1" type="pdf"> </app-attachment-card>
    <app-attachment-card name="Sketch" type="image"> </app-attachment-card>
  </div>
</app-card>

<app-card>
  <div class="header">
    <h1>Scope of Work</h1>
  </div>

  <app-project-schedule-viewer [scopes]="scopes"></app-project-schedule-viewer>
</app-card>

<app-card>
  <div class="header">
    <h1>Timeline</h1>
  </div>
</app-card>

<app-action-panel>
  <button mat-raised-button>Save Progress</button>
  <button mat-raised-button color="primary">Mark as Complete</button>
</app-action-panel>
