<app-card *ngIf="project">
  <h1>Attachments</h1>

  <div class="attachment-list">
    <app-attachment-card
      *ngFor="let attachment of project.attachments"
      [name]="attachment.name"
      [type]="getAttachmentType(attachment.type)"
      (click)="downloadAttachment(attachment)"
    >
    </app-attachment-card>
  </div>
</app-card>

<app-project-schedule-viewer [scopes]="scopes"></app-project-schedule-viewer>

<app-card class="timeline-card">
  <div class="header">
    <h1>Timeline</h1>

    <button
      mat-flat-button
      color="primary"
      (click)="showAddProjectScheduleForm()"
    >
      Add Schedule
    </button>
  </div>

  <div class="timeline">
    <app-gantt-chart
      [scopes]="scopes"
      [schedules]="schedules"
    ></app-gantt-chart>
  </div>
</app-card>

<app-action-panel>
  <button mat-raised-button>Exit</button>
  <button
    mat-raised-button
    color="primary"
    (click)="router.navigate(['/tasks'])"
  >
    Mark as Complete
  </button>
</app-action-panel>
