.container {
  background: var(--primary-color);
  color: var(--grey-color-1);
  padding: 0;
  height: 100%;

  &.expand {
    .brand img {
      margin-right: 10px;
      margin-bottom: 0;
    }
  }

  .brand {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing);
    width: 100%;
    cursor: pointer;

    img {
      width: 32px;
      height: 32px;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 19px;
      font-weight: bold;
    }
  }

  ul.menu {
    margin-top: var(--spacing);
    list-style-type: none;
    padding: 0;
    margin: 0;

    li a {
      display: flex;
      align-items: center;
      height: 56px;
      padding: 0 var(--spacing);
      margin: 0;
      color: var(--grey-color-1);
      text-decoration: none;

      .mat-icon {
        margin-right: var(--spacing);
      }

      &.active,
      &:hover {
        background-color: var(--grey-color-2);
        color: var(--accent-color);
      }

      &.active {
        border-left: 3px var(--accent-color) solid;

        .mat-icon {
          margin-left: -3px;
        }
      }
    }
  }
}
