<div class="content">
  <div class="divider">
    <div class="year-divider" *ngFor="let section of sections">
      <div class="month-divider">
        <span
          *ngFor="let sub of section.sub"
          [ngStyle]="{ width: dividerGap + 'px' }"
        ></span>
      </div>
    </div>
  </div>

  <div class="data">
    <div class="group" *ngFor="let scope of scopes">
      <div
        class="expand-toggle"
        [ngClass]="{ collapsed: collapsedToggle[scope.id] }"
        (click)="collapsedToggle[scope.id] = !collapsedToggle[scope.id]"
      >
        {{ scope.name }}

        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>

      <div *ngIf="!collapsedToggle[scope.id]">
        <div class="schedule" *ngFor="let task of scope.tasks; let i = index">
          <div
            class="schedule-item"
            *ngFor="let schedule of getSchedules(task); let ti = index"
            [ngStyle]="{
              'background-color': getScheduleColor(i),
              left:
                getSchedulePosByDate(schedule.start, dividerGap, true) + 'px',
              width: getScheduleWidth(schedule, dividerGap) + 'px'
            }"
          >
            {{ task.name }} P{{ ti + 1 }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="heading">
    <div class="year-heading" *ngFor="let section of sections">
      <div class="month-heading">
        <span
          *ngFor="let sub of section.sub"
          [ngStyle]="{ width: dividerGap + 'px' }"
        >
          {{ getMonthString(sub) }}
        </span>
      </div>

      <span>{{ section.label }}</span>
    </div>
  </div>
</div>
