.gantt-chart {
  display: flex;

  .content {
    padding: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;

    .data {
      .schedule {
        display: flex;
        margin: var(--spacing) 0;
        position: relative;
        min-height: 50px;
        box-sizing: border-box;

        .schedule-item {
          color: white;
          padding: var(--spacing);
          border-radius: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
          position: absolute;
          box-sizing: border-box;
          white-space: nowrap;

          cursor: pointer;
          user-select: none;
        }
      }
    }

    .heading {
      display: flex;
      background-color: white;
      margin-top: 10px;
      box-sizing: border-box;
      border-top: 1px solid rgb(230, 230, 230);

      .year-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.7rem;
        color: rgb(180, 180, 180);
        padding: var(--spacing) 0;
        box-sizing: border-box;

        .month-heading {
          display: flex;
          flex-direction: row;
          text-align: center;
          box-sizing: border-box;

          span {
            font-size: 0.9rem;
            color: rgb(109, 109, 109);
          }
        }
      }
    }
  }

  .expand-toggle {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    mat-icon {
      transition: all ease-out 200ms;
    }

    &.collapsed {
      mat-icon {
        transform: rotate(90deg);
      }
    }
  }

  .divider {
    border-top: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-grow: 1;

    .year-divider {
      display: flex;
      flex-direction: row;
      height: 100%;

      .month-divider {
        display: flex;
        flex-direction: row;
        height: 100%;
        span {
          border-left: 1px solid rgb(230, 230, 230);
          box-sizing: border-box;
          height: 100%;
        }
      }
    }
  }
}
