.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: -100px;

  .sidenav-container {
    width: 50px;

    &.expand {
      width: 200px;
    }
  }

  .content-container {
    flex-grow: 1;
    padding: var(--spacing);
    background-color: var(--grey-color-3);
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
