<div class="container">
  <span>{{ user.attributes.given_name }}</span>

  <img
    class="profile-image"
    src="https://abs.twimg.com/sticky/default_profile_images/default_profile_400x400.png"
    [matMenuTriggerFor]="menu"
  />

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="profile.emit()">
      <mat-icon>person</mat-icon>
      Profile
    </button>
    <button mat-menu-item (click)="changePassword.emit()">
      <mat-icon>key</mat-icon>
      Change Password
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="signout.emit()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</div>
