// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$greyhammer-construction-erp-system-primary: mat.define-palette(
  mat.$indigo-palette
);
$greyhammer-construction-erp-system-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$greyhammer-construction-erp-system-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$greyhammer-construction-erp-system-theme: mat.define-light-theme(
  (
    color: (
      primary: $greyhammer-construction-erp-system-primary,
      accent: $greyhammer-construction-erp-system-accent,
      warn: $greyhammer-construction-erp-system-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($greyhammer-construction-erp-system-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  position: absolute;
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// AWS Amplify base theme
@import "~@aws-amplify/ui-angular/theme.css";

amplify-authenticator {
  .amplify-tabs {
    display: none !important;
  }
}

[data-amplify-authenticator] {
  margin-top: 100px;
}

:root {
  --primary-color: #363740;
  --accent-color: #dde2ff;
  --grey-color-1: #a4a6b3;
  --grey-color-2: rgba(159, 162, 180, 0.08);
  --grey-color-3: #f7f8fc;
  --grey-color-4: #e5e5e5;
  --grey-color-5: #e0e4ec;
  --white-color: #fff;
  --green-color: #1bb55c;
  --red-color: red;
  --spacing: 16px;
  --border-radius: 5px;
}

.profile-modal .mat-dialog-container {
  padding: 0;
}

mat-form-field {
  width: 100%;
}

.city-info-box {
  display: flex;
  flex-direction: row;

  :nth-child(2) {
    margin: 0 var(--spacing);
  }
}
