<app-card [padless]="true" [ngClass]="{ sortable }">
  <table>
    <thead>
      <tr>
        <th
          (click)="setSort(column.id)"
          *ngFor="let column of columns"
          [attr.width]="column.width === undefined ? null : column.width"
          [attr.align]="column.headerAlign ?? 'left'"
        >
          {{ column.label }}

          <mat-icon
            [style.visibility]="sort === column.id ? 'visible' : 'hidden'"
            >{{
              sortDir === "desc" ? "arrow_upward" : "arrow_downward"
            }}</mat-icon
          >
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">
          <ng-template
            appRendererLoader
            [renderer]="column.renderer"
            [data]="row"
            [field]="column.id"
          ></ng-template>
        </td>
      </tr>
    </tbody>

    <tbody *ngIf="loading">
      <tr>
        <td [attr.colspan]="columns.length">loading..</td>
      </tr>
    </tbody>

    <tbody *ngIf="data.length === 0 && !loading">
      <tr>
        <td [attr.colspan]="columns.length">No data found.</td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    *ngIf="paginated && !loading"
    [length]="length"
    [pageSize]="size"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</app-card>
