<app-card [padless]="true">
  <table>
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          [attr.width]="column.width === undefined ? null : column.width"
          [attr.align]="column.headerAlign ?? 'left'"
        >
          {{ column.label }}
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">
          <ng-template
            appRendererLoader
            [renderer]="column.renderer"
            [data]="row"
            [field]="column.id"
          ></ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
